*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#020617;
  color:white;
  overflow-x:hidden;
}

#bg{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}

nav{
  position:fixed;
  top:0;
  width:100%;
  padding:20px 8%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  backdrop-filter:blur(20px);
  background:rgba(0,0,0,0.15);
  z-index:1000;
}

.logo{
  font-size:32px;
  font-weight:bold;
  color:#ffffff;
}

.nav-links{
  display:flex;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  opacity:0.8;
  transition:0.3s;
}

.nav-links a:hover{
  color:#3b82f6;
  opacity:1;
}

.wallet-btn,
.launch,
.docs{
  padding:15px 28px;
  border:none;
  border-radius:16px;
  cursor:pointer;
  font-size:16px;
  transition:0.3s;
}

.wallet-btn,
.launch{
  background:#2563eb;
  color:white;
  box-shadow:0 0 25px rgba(37,99,235,0.5);
}

.docs{
  background:transparent;
  border:1px solid rgba(255,255,255,0.2);
  color:white;
}

.wallet-btn:hover,
.launch:hover{
  transform:translateY(-3px);
}

.hero{
  min-height:100vh;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 8%;
}

.left{
  max-width:600px;
}

.left h1{
  font-size:72px;
  line-height:1.1;
}

.left span{
  color:#3b82f6;
}

.left p{
  margin-top:30px;
  font-size:22px;
  color:#94a3b8;
  line-height:1.7;
}

.buttons{
  margin-top:40px;
  display:flex;
  gap:20px;
}

.right{
  display:flex;
  justify-content:center;
  align-items:center;
}

.logo-wrapper{
  position:relative;
  width:420px;
  height:420px;
  display:flex;
  justify-content:center;
  align-items:center;
}

#logoCanvas{
  position:absolute;
  width:100%;
  height:100%;
}

.logo-circle{
  width:380px;
  height:380px;
  border-radius:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:150px;
  color:#3b82f6;

  background:rgba(59,130,246,0.08);
  border:1px solid rgba(59,130,246,0.3);

  box-shadow:
    0 0 60px rgba(59,130,246,0.4),
    inset 0 0 50px rgba(59,130,246,0.15);

  animation:float 4s ease-in-out infinite;
}

@keyframes float{
  0%,100%{
    transform:translateY(0);
  }
  50%{
    transform:translateY(-20px);
  }
}

.scroll{
  position:absolute;
  bottom:40px;
  width:100%;
  text-align:center;
  color:#94a3b8;
}

@media(max-width:1000px){

  .hero{
    flex-direction:column;
    justify-content:center;
    text-align:center;
    gap:80px;
    padding-top:120px;
  }

  .left h1{
    font-size:52px;
  }

  .logo-circle{
    width:250px;
    height:250px;
    font-size:100px;
  }

  .nav-links{
    display:none;
  }

  .buttons{
    justify-content:center;
    flex-wrap:wrap;
  }
}

.stats{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
  padding:80px 20px;
}

.stat-card{
  width:250px;
  padding:35px;
  border-radius:25px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(15px);
  border:1px solid rgba(255,255,255,0.1);
  text-align:center;
  transition:0.4s;
}

.stat-card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 30px rgba(77,166,255,0.4);
}

.stat-card h2{
  font-size:42px;
  color:#4da6ff;
  margin-bottom:10px;
}

.stat-card p{
  color:#aaa;
  font-size:18px;
}

.swap-box{
  width:90%;
  max-width:550px;
  margin:100px auto;
  padding:40px;
  border-radius:30px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(15px);
  border:1px solid rgba(255,255,255,0.1);
}

.token-box{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#07152c;
  padding:20px;
  border-radius:20px;
  margin-top:20px;
}

.token-box input{
  background:none;
  border:none;
  color:white;
  font-size:28px;
  outline:none;
  width:180px;
}

.token-box select{
  background:#112340;
  color:white;
  border:none;
  padding:12px;
  border-radius:12px;
}

.swap-arrow{
  width:60px;
  height:60px;
  border:none;
  border-radius:50%;
  background:#2563eb;
  color:white;
  font-size:28px;
  cursor:pointer;
  box-shadow:0 0 25px rgba(37,99,235,0.5);
}

.swap-box p{
  text-align:center;
  margin-top:20px;
  color:#94a3b8;
}

.pools{
  width:90%;
  margin:120px auto;
  text-align:center;
}

.pools h1{
  font-size:50px;
  margin-bottom:60px;
}

.pool-grid{
  display:flex;
  justify-content:center;
  gap:30px;
  flex-wrap:wrap;
}

.pool-card{
  width:300px;
  padding:35px;
  border-radius:25px;
  background:rgba(255,255,255,0.05);
  backdrop-filter:blur(15px);
  border:1px solid rgba(255,255,255,0.1);
  transition:0.4s;
}

.pool-card:hover{
  transform:translateY(-10px);
  box-shadow:0 0 30px rgba(37,99,235,0.4);
}

.pool-card h2{
  font-size:30px;
  color:#4da6ff;
  margin-bottom:20px;
}

.pool-card p{
  color:#94a3b8;
  margin-bottom:25px;
}

.pool-card button{
  padding:14px 28px;
  border:none;
  border-radius:15px;
  background:#2563eb;
  color:white;
  cursor:pointer;
  box-shadow:0 0 20px rgba(37,99,235,0.5);
}
